body {
  background-color: #f9f9f9;
  margin-left: 15%;
  margin-right: 15%;
  font-family: arial;
}
.logo {
  color: #0c0c0c;
  font-weight: 600;
  font-size: 2rem;
}
.header {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 15vh;
}
.header__campo-busca {
  width: 40rem;
  height: 2.5rem;
  background-color: #ebebeb;
  color: #737373;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}
.header__btn-entrar {
  width: 11.75rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  background: #3772ff;
}

.secao__novos-artistas {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 5rem;
}

.novos-artistas__title {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 0;
}
.novos-artistas__subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #737373;
}
.novos-artistas__btn {
  width: 11.75rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  background: #3772ff;
}
.novos-artitas__numeros {
  display: flex;
  margin-top: 3rem;
  gap: 2.9rem;
}
.numeros__block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.numeros__block > .numero {
  font-weight: 600;
  font-size: 2rem;
  color: #0c0c0c;
}

.numeros__block > .categoria {
  font-weight: 500;
  font-size: 16px;
  color: #737373;
}

.secao__ultimas-colecoes {
  display: flex;
  justify-content: space-between;
}
.ultimas-colecoes__galeria {
  display: flex;
  gap: 3rem;
}
.ultimas-colecoes__galeria__image {
  width: 12.5rem;
  height: 12rem;
}
.ultimas-colecoes__galeria__image:nth-child(1) {
  background-image: url("./src/images/img\ 1.png");
}
.ultimas-colecoes__galeria__image:nth-child(2) {
  background-image: url("./src/images/img\ 2.png");
}
.ultimas-colecoes__galeria__image:nth-child(3) {
  background-image: url("./src/images/img\ 3.png");
}

.ultimas-colecoes__confira__text {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
}
.ultimas-colecoes__confira__btn {
  width: 11.75rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  background: #3772ff;
}
.secao__artistas__titulo {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .artisas__container-imagens {
    display: flex;
    gap: 1.25rem;;
  }
  .artistas__image {
    width: 24rem;
    height: 30rem;
    border-radius: .25rem;
    color: #F9F9F9;
    box-sizing: border-box;
    padding: 1rem;
  }
  .artistas__image:nth-child(1){
      background: linear-gradient(
          0deg,
          rgba(12, 12, 12, 0.2),
          rgba(12, 12, 12, 0.2)
        ),
        url(./src/images/Sabine.png);
  }
  .artistas__image:nth-child(2){
      background: linear-gradient(
          0deg,
          rgba(12, 12, 12, 0.2),
          rgba(12, 12, 12, 0.2)
        ),
        url(./src/images/Eleanor.png); 
  }
  .artistas__image:nth-child(3){
      background: linear-gradient(
          0deg,
          rgba(12, 12, 12, 0.2),
          rgba(12, 12, 12, 0.2)
        ),
        url(./src/images/Leslie.png);
  }
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}
.footer__nav > ul{
  display: flex;
  list-style: none;
  gap: 3rem;
}
.footer__nav >ul > li > a{
  text-decoration: none;
  color: #0c0c0c;
  font-weight: 500;
  font-size: 1rem;
}