body{
    background-color: #F9F9F9;
    margin-left: 20%;
    margin-right: 20%;
    font-family: arial;
}
.logo{
    color: #0C0C0C;
    font-weight: 600;
    font-size: 2rem;
}
.header{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 15vh;
}
.header__campo-busca{
    width: 40rem;
    height: 2.5rem;
    background-color: #EBEBEB;
    color: #737373;
    border: none;
    border-radius: .25rem;
    box-sizing: border-box;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}
.header__btn-entrar{
    width: 11.75rem;
    height: 2.5rem;
    border: none;
    border-radius: .25rem;
    color: #fff;
    background: #3772FF;
}

.secao__novos-artistas{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.novos-artistas__title{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 0;
}
.novos-artistas__subtitle{
    font-weight: 400;
    font-size: 24px;
    color: #737373;
}
.novos-artistas__btn{
    width: 11.75rem;
    height: 2.5rem;
    border: none;
    border-radius: .25rem;
    color: #fff;
    background: #3772FF;
}
.novos-artitas__numeros{
    display: flex;
    margin-top: 3rem;
    gap: 2.9rem;
}
.numeros__block{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.numeros__block > .numero{
    font-weight: 600;
    font-size: 2rem;
    color: #0C0C0C;
}

.numeros__block > .categoria{
    font-weight: 500;
    font-size: 16px;
    color: #737373;
}